<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/FC_Landing Page_v1.css">
    <script src="../static/js/FC_Landing Page_v1.js" defer></script>
</head>
<body>
        <!-- fullPage.js cdn -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.9/fullpage.min.js" integrity="sha512-JSVRnP8UFs0ieN/cvP9v4vmW1CotIaEKKN7W+4JaKNrllZolTv2aJfVGn4BFdfZ1jRZxgTAAaXWdlZbEm9iwFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.9/fullpage.css" integrity="sha512-zDKgq9gDZL1N3buxzFPZjHwqDOFsgTyhR0aJtXLFTIjEFovumXMaVeF6iBUZ/Rc4Mb0IqRrhqAY+RY7OCUBo6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <!-- fullPage.js HTML -->
<div id="fullpage">
    <div class="section" id="section1">
        <h1>Animations</h1>
        <div class="image-wrapper">
        <div class="section1-container img">
            <img
              src="../static/img/Korea.jpg"
              alt="passport3"
              class="img passport1"
              id="passport-img-1"
            />
            <img
              src="../static/img/China.jpg"
              alt="passport1"
              class="img passport2"
              id="passport-img-2"
            />
            <img
              src="../static/img/Japan.jpg"
              alt="passport2"
              class="img passport3"
              id="passport-img-3"
            />
          </div>
           <div class="section1-container img">
            <img
              src="../static/img/USA.jpg"
              alt="passport4"
              class="img passport4"
              id="passport-img-4"
            />
            <img
              src="../static/img/Vietnam.jpg"
              alt="passport5"
              class="img passport5"
              id="passport-img-5"
            />
          </div>

        </div>
    </div>
    <div class="section" id="section2">
                    <div class="intro">
                <h1>왜 WELL-COME인가?</h1>
                  <!-- <ul class="why-list">
                    <li class="why-item why-item1">选择“웰컴”的五大理由</li>
                    <li class="why-item why-item2">选择“웰컴”的五大理由</li>
                    <li class="why-item why-item3">选择“웰컴”的五大理由</li>
                    <li class="why-item why-item4">选择“웰컴”的五大理由</li>
                    <li class="why-item why-item5">选择“웰컴”的五大理由</li>
                  </ul> -->
                <p class="why-item why-item1">选择“웰컴”的五大理由</p>
                <p class="why-item why-item2">选择“웰컴”的五大理由</p>
                <p class="why-item why-item3">选择“웰컴”的五大理由</p>
                <p class="why-item why-item4">选择“웰컴”的五大理由</p>
                <p class="why-item why-item5">选择“웰컴”的五大理由</p>
                </div>
       
    
    </div>
    <div class="section" id="section3">
        <div class="intro">
            <h1>외국인 법인설립은 </h1>
            <h1>WELL-COME에서</h1>
           <button>바로 시작하기</button>
        </div>

           </div>
</div>
    </body>
</html>