<!DOCTYPE html>
<html lang="en">
<head>
<!-- jQuery 라이브러리 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- fullPage.js cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.js" integrity="sha512-XOpdFagEEv9XMxN/2EdvFL/PfGtFDjX+AkRznsFHDtdC05YWdkMnz5JZUfrbnEabOQaMc7YNTl2xPbOu3J858Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.css" integrity="sha512-/AilQf/shuEGfh8c3DoIqcIqHZCKpiImSyt+fxIKJphHiNa6QMPb6AbDly6rkjmGr/5OZd35JtvVkbEKnCZO+A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>외국인 법인 설립</title>    
  <link rel="stylesheet" href="../static/css/FC_Landing Page_v1.css">
  <script src="../static/js/FC_Landing Page_v1.js" defer></script>
</head>
<body>
         <!-- fullPage.js HTML -->
  <div id="fc-fullpage">
    <div class="section" id="fc-section1">
              <div class="image-wrapper">
          <h1 class="fc-section1-title">WELL-COME</h1>
        <div class="fc-section1-container img">
            <img
              src="../static/img/Korea.jpg"
              alt="passport3"
              class="img passport1"
              id="passport-img-1"
            />
            <img
              src="../static/img/China.jpg"
              alt="passport1"
              class="img passport2"
              id="passport-img-2"
            />
            <img
              src="../static/img/Japan.jpg"
              alt="passport2"
              class="img passport3"
              id="passport-img-3"
            />
          </div>
           <div class="section1-container img">
            <img
              src="../static/img/USA.jpg"
              alt="passport4"
              class="img passport4"
              id="passport-img-4"
            />
            <img
              src="../static/img/Vietnam.jpg"
              alt="passport5"
              class="img passport5"
              id="passport-img-5"
            />
          </div>
        </div>
    </div>
    <div class="section" id="fc-section2">
                <div class="intro">
                <h1>왜 WELL-COME인가?</h1>
                <p class="why-item why-item1">选择“웰컴”的五大理由选择“웰컴”的五大理由1</p>
                <p class="why-item why-item2">选择“웰컴”的五大理由选择“웰컴”的五大理由2</p>
                <p class="why-item why-item3">选择“웰컴”的五大理由选择“웰컴”的五大理由3</p>
                <p class="why-item why-item4">选择“웰컴”的五大理由选择“웰컴”的五大理由4</p>
                <p class="why-item why-item5">选择“웰컴”的五大理由选择“웰컴”的五大理由5</p>
                </div>       
    
    </div>
    <div class="section" id="fc-section3">
        <div class="intro">
          <div class="cn-main-page-container">
            <div class="cn-main-page-section cn-main-page-left">
                <div class="cn-main-page-content">
                    <h1>中国签证办理 <div class="circle"> </div></h1>
                    <button class="button-1" onclick="window.location.href='http://well-come.site'">立即办理</button>
                </div>
            </div>
            <div class="cn-main-page-section cn-main-page-right">
                <div class="cn-main-page-content">
                    <h1>韩国公司注册 <div class="circle"> </div></h1>
                    <button class="button-2" onclick="window.location.href='http://well-come.info/incorporationCn'">了解详情</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>
 