
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fc-fullpage {
    z-index: 0;
    width: 100%;    
}

h1{
font-size: 2em;
font-size: calc(2em + 2vw);
font-family: arial,helvetica;
margin:0;
}


#fc-arrow {
  width: 100%;   
  position: fixed;
  display: flex;
  align-items: center;
    justify-content: center;
    z-index: 1000;
    bottom: 0px;
    padding: 10px
}
#fc-arrow svg{
  display: none;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  color: #fff;
  animation-name: floating;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
}

@keyframes floating {
  0% {
      transform: translateY(0);    
  }
  50% {
      transform: translateY(-20px);   
  }   
  100% {
      transform: translateY(0);
  }   
}


/* 600px 이하일 때 보이도록 설정 */
@media (max-width: 600px) {
  #fc-arrow svg {
    display: flex; /* 보이도록 설정 */
  }
}

/* 900px 이하일 때 보이도록 설정 */
@media (max-width: 900px) {
  #fc-arrow svg {
    display: flex; /* 보이도록 설정 */
  }
}


.section{
text-align:center;
font-family: arial,helvetica;
color: #fff;
}

/* nav */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #fff !important;
}

/* 배경 색상 */
#fc-section1 {background-image: linear-gradient(128deg,#40afff,#3f61ff)}
#fc-section2 {background-image: linear-gradient(128deg,#40afff,#3f61ff)}
#fc-section3 {background-image: linear-gradient(128deg,#342929,#0F0913, #8C9599, #00101A )}

/* Setting states for animations */
#fc-section2 h1,
#fc-section3 h1{
transform: scale(0.8);
position:relative;
transition: all 600ms ease;
opacity: 0;
}

/* active일 때 스타일 */
/* body.fp-viewing-secondPage #fc-section1 img.passport1{
    transform: rotate(-8.515deg);
    z-index: 3;
    left: 170px;
    top: -280px;
    animation-name: moveTo10;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
  } */

body.fp-viewing-secondPage #fc-section2 h1{
  transform: scale(1);
  opacity: 1;
  transition-delay: 500ms;
  }
  body.fp-viewing-secondPage #fc-section2 p{
    transform: scale(1);
    opacity: 1;
    transition-delay: 500ms;
    }
    

body.fp-viewing-3rdPage #fc-section3 h1{
  transform: scale(1);
opacity: 1;
transition-delay: 500ms;
}


body.fp-viewing-3rdPage #fc-section3 button{
transform: translate3d(0, 0, 0);
opacity: 1;
transition-delay: 500ms;
}


/* This is just for fun */
 .section {
    position: relative;
    overflow: hidden;
}



/* 
섹션 1
*/


h1.fc-section1-title {
  left: 50%;
  top: 50%;
  font-weight: 1000;
  font-size: 12.5vw;
  margin: 0;
  z-index: 3;
  position: absolute; /* 변경: relative에서 absolute로 */
  transform: translateX(-50%) translateY(-50%); /* 중앙 정렬을 위한 설정 */
  letter-spacing: 0.01em;
  line-height: 0.68;
  white-space: nowrap; /* 줄바꿈 없애기 */
}

/* 이미지 래퍼 스타일 */
.image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
}


      .fc-section1-container.img {
        margin: 0;        
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
      }

      /* 이미지 공통 스타일 */
      img.img {
        position: absolute;
        width: 25vw;
        height: auto;
        flex-shrink: 0;
        box-shadow: 5px 5px 14px #0000007c;
         }
           /* 최소 크기 화면 (핸드폰) */
           @media (max-width: 600px) {   
            img.img {
                opacity: 0;
              }
            }
  
            /* 중간 크기 화면 (태블릿) */
            @media (max-width: 900px) {
              img.img {
                opacity: 0;
              }
            }

            @media (max-width: 1100px) {
              img.img {
                opacity: 0;
              }
            }


      
       /* 여권 이미지별 스타일 */
      
       body.fp-viewing-firstPage #fc-section1 img.passport1 {
          z-index: 2;
        left: 170px;
        top: -280px;
        transform: translateX(15vw)  translateY(15vh) rotate(-8.515deg);
        opacity: 0;      
            }

        body.fp-viewing-firstPage #fc-section1 img.passport2 {
          transform: rotate(28.515deg) translateX(40vw)  translateY(-40vh);
          z-index: 4;
          left: 140px;
          top: -200px;
          opacity:0;
          }

        body.fp-viewing-firstPage #fc-section1 img.passport3 {
          transform: rotate(-8.104deg) translateX(-8vw)  translateY(7vh);
          z-index: 1;
          right: -300px;
          top: -10px;
          opacity: 0;
          }
        body.fp-viewing-firstPage #fc-section1 img.passport4 {
          transform: rotate(17.104deg) translateX(20vw)  translateY(94vh);
          z-index: 3;
          left: 50px;
          bottom: 600px;
          opacity: 0;
          }

        body.fp-viewing-firstPage #fc-section1 img.passport5 {
          transform: rotate(-30.104deg) translateX(10vw)  translateY(140vh);
          z-index: 2;
          left: 200px;
          bottom: 700px;
          opacity: 0;
              }


     body.fp-viewing-secondPage #fc-section1 img.passport1 {
        z-index: 2;
        left: 170px;
        top: -280px;
        transform: translateX(-5vw)  translateY(15vh) rotate(-8.515deg);
        animation-name: moveTo10;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
      }

      body.fp-viewing-secondPage #fc-section1 img.passport2 {
        transform: rotate(28.515deg) translateX(40vw)  translateY(-40vh);
        z-index: 4;
        left: 140px;
        top: -200px;
        animation-name: moveTo12;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
        }

        body.fp-viewing-secondPage #fc-section1 img.passport3 {
        transform: rotate(-8.104deg) translateX(-8vw)  translateY(7vh);
        z-index: 1;
        right: -300px;
        top: -10px;
        animation-name: moveTo3;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
      }

      body.fp-viewing-secondPage #fc-section1 img.passport4 {
        transform: rotate(17.104deg) translateX(20vw)  translateY(94vh);
        z-index: 3;
        left: 50px;
        bottom: 600px;
        animation-name: moveTo8;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
      }

    
      body.fp-viewing-secondPage #fc-section1 img.passport5 {
        transform: rotate(-30.104deg) translateX(10vw)  translateY(140vh);
        z-index: 2;
        left: 200px;
        bottom: 700px;
        animation-name: moveTo5;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
      }

      

      /* 여권 애니메이션 */
       @keyframes moveTo10 {
        to {
          transform: translate(-100vw, -100vh);
          opacity: 0;
        }
      }

      @keyframes backTo10 {
        to {
          transform: translate(100vw, 100vh);
          opacity: 0;
        }
      }

      @keyframes moveTo12 {
        to {
          transform: translateY(-230vh);
          opacity: 0;
        }
      }

      @keyframes moveTo3 {
        to {
          transform: translateX(100vw);
          opacity: 0;
        }
      }

      @keyframes moveTo8 {
        to {
          transform: translate(-100vw, 100vh);
          opacity: 0;
        }
      }

      @keyframes moveTo5 {
        to {
          transform: translate(100vw, 300vh);
          opacity: 0;
        }
      }


/*
섹션2
*/


/* 최소 크기 화면 (핸드폰) */
@media (max-width: 600px) {
  #fc-section2 h1 {
    position:relative;
    transition: none;
    transform: none;
    opacity: 0; 
    }

  #fc-section2 p{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
  }

  #fc-section2 p>a {
      font-size: 2.5vh;
    }
} 

  
/* 중간 크기 화면 (태블릿) */
@media (max-width: 900px) {
  #fc-section2 h1 {
    font-size: 5vw;
    transition: none; 
    transform: none;
}

  #fc-section2 p{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;   
  }
  #fc-section2 p>a {
    font-size:18px;  
     }
   
}


#fc-section2 h1.active{
  transform: scale(1);
  opacity: 1;
  }

#fc-section2 p{
width: 50%;
transform: scale(0.8);
font-size: 40px;
width: auto;
position:relative;
transition: all 600ms ease;
opacity: 0;
margin: 1.5rem;
}


#fc-section2.active .fc-item a {
  font-size: 100;
  animation: fadeUp 0.4s 0.2s both;
  color: #fff;
 }

@keyframes fadeUp {
	0%{transform:translateY(80px); opacity: 0;}
	100%{transform:translateY(0); opacity: 1;}}

/* 
섹션3
*/
   
 @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


.cn-main-page-container {
display: flex;
height: 100vh;
width:90%;
margin:0 auto;  
}

.cn-main-page-section {
display: flex;
justify-content: center;
align-items: center;
position: relative;
color: white;
text-align: center;
width: 50%; 

}

.cn-main-page-content {
position: relative;
z-index: 2;
}

.cn-main-page-left {

background: url('https://cdn.imweb.me/thumbnail/20240913/ca08b6b749530.png') no-repeat center center;
background-size: cover;
}

.cn-main-page-right {
background: url('https://cdn.imweb.me/thumbnail/20240913/1c1a765e55a11.png') no-repeat center center;
background-size: cover;
}

.cn-main-page-content {
position: relative;
z-index: 2;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
transform: translateY(15%);
}

.button-1, .button-2{
margin-top:60px;
width: 220px;
height:40px;
font-size: 20px;
font-weight:800;
border: 1px solid #fff; 
background-color: transparent; 
color: white; 
font-family: 'Pretendard Variable'; 
cursor: pointer;
border-radius: 50px; 
transform: translate3d(0, 50px, 0);
opacity: 0;
transition: opacity 700ms ease, transform 700ms ease;   
 transition-delay: 200ms;
}

.button-1:hover {
background-color: rgba(255, 255, 255, 1); 
color:#900B0B; 

}
.button-2:hover {
background-color: rgba(255, 255, 255, 1); 
color:#007AFF; 

}

.button-1:active, .button-2:active{
background: #DCDCDC;
border: 1px solid #FFFFFF;
box-shadow: inset 8px 1px 4px rgba(0, 0, 0, 0.25);
border-radius: 50.5px;

}

.button-1:active {
background-color: rgba(255, 255, 255, 1); 
color:#900B0B; 

}
.button-2:active {
background-color: rgba(255, 255, 255, 1);
color:#007AFF; 

}

.cn-main-page-section::before {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, 0.4);
z-index: 1;
}
.cn-mainpage-line {
width: 50%; 
height: 2px; 
background-color: rgba(255, 255, 255, 0.7); 
border: none; 
margin: 10px auto; 
border-radius: 5px; 
}
.cn-main-page-content h1 {
font-size: 48px !important;
margin-bottom: 50px;
position: relative;
text-align: center; 
font-family: 'Pretendard Variable';
font-weight:600;
}

.cn-main-page-content h1::before,.cn-main-page-content h1::after {
content: '';
position: absolute;
top: 120%;
width: 40%; 
height: 1px; 
background-color: rgba(255, 255, 255, 1); 
margin-top: 20px;
}

.cn-main-page-content h1::before {
left: 0;
}

.cn-main-page-content h1::after {
right: 0;
}

.circle {
width: 10px; 
height: 10px;
background-color: rgba(255, 255, 255, 1); 
border-radius: 50%; 
position: absolute;
top: 110%;
left: 50%; 
transform: translateX(-50%); 
margin-top: 20px ;
}

@media (max-width: 768px) {
.cn-main-page-container {
display: flex;
flex-direction: column;
gap: 20px;
width:100%;
align-items:center;
justify-content:center;
margin:60px auto;
height:auto;

}

.cn-main-page-section {
overflow: hidden;
width:90%;

}

.cn-main-page-left, 
.cn-main-page-right {
background-size: cover;
background-position: center;
width: 100%;
height:510px !important;
border-radius: 5px;
}

.button-1, 
.button-2 {
width: 190px;
height: 42px;
font-size: 18px;
}

.cn-main-page-content h1 {
font-size: 32px !important;
width: 100% !important;
}

.circle {
width: 8px;
height: 8px;
}

.cn-main-page-content h1::before, 
.cn-main-page-content h1::after {
content: '';
position: absolute;
top: 120%;
width: 60%;
height: 1px;
background-color: rgba(255, 255, 255, 1);
margin-top: 20px;
}

.cn-main-page-content h1::before {
left: -50px;
}

.cn-main-page-content h1::after {
right: -50px;
}	
}

@media (max-width: 441px) {
.cn-main-page-container {
display: flex;
flex-direction: column;
gap: 20px;
width: 100%;
align-items: center;
justify-content: center;
margin: 40px auto;

}

.cn-main-page-section {
overflow: hidden;
width: 95%;
}

.cn-main-page-left, 
.cn-main-page-right {
background-size: cover;
background-position: center;
width: 100%;
height: 460px !important;
border-radius: 5px;
}


.button-1, .button-2 {
width: 150px;
height: 32px;
font-size: 16px;
margin-top:40px;
}

.cn-main-page-content h1 {
font-size: 28px !important;
width: 90%;
}

.circle {
width: 6px;
height: 6px;
}

.cn-main-page-content h1::before, 
.cn-main-page-content h1::after {
content: '';
position: absolute;
top: 120%;
width: 50%;
height: 1px;
background-color: rgba(255, 255, 255, 1);
margin-top: 20px;
}

.cn-main-page-content h1::before {
left: -30px;
}

.cn-main-page-content h1::after {
right: -30px;
}
}
