
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fc-fullpage {
    z-index: 0;
    width: 100%;    
}

h1{
font-size: 6em;
font-size: calc(2em + 2vw);
font-family: arial,helvetica;
margin:0;
}

.section{
text-align:center;
font-family: arial,helvetica;
color: #fff;
}



/* 배경 색상 */
#fc-section1 {background-image: linear-gradient(128deg,#40afff,#3f61ff)}
#fc-section2 {background-image: linear-gradient(128deg,#40afff,#3f61ff)}
#fc-section3 {background-image: linear-gradient(128deg,#FFCA42,#8C1DEF)}

/* Setting states for animations */
#fc-section2 h1,
#fc-section3 h1{
transform: scale(0.8);
position:relative;
transition: all 600ms ease;
opacity: 0;
}

/* active일 때 스타일 */
body.fp-viewing-secondPage #fc-section2 h1{
  transform: scale(1);
  opacity: 1;
  transition-delay: 500ms;
  }
  body.fp-viewing-secondPage #fc-section2 p{
    transform: scale(1);
    opacity: 1;
    transition-delay: 500ms;
    }
    

body.fp-viewing-3rdPage #fc-section3 h1{
  transform: scale(1);
opacity: 1;
transition-delay: 500ms;
}


body.fp-viewing-3rdPage #fc-section3 button{
transform: translate3d(0, 0, 0);
opacity: 1;
transition-delay: 500ms;
}



#fp-nav ul li a span, 
.fp-slidesNav ul li a span{
background: rgb(255, 255, 255);
}

/* This is just for fun */
 .section {
    position: relative;
    overflow: hidden;
}



@keyframes floating {
0% {
transform: translate(0%, -30%);    
}
25% {
transform: translate(5px, calc(-20% + 25px));   
}   
50% {
transform: translate(10px, calc(-20% + 15px));   
}   
75% {
transform: translate(0%, calc(-20% + 25px));   
}   
100% {
transform: translate(0%, -30%);
}   
}


/* 
섹션 1
*/

/* 이미지 래퍼 스타일 */
.image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


      .fc-section1-container.img {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: center;
      }

      /* 이미지 공통 스타일 */
      img.img {
        position: absolute;
        width: 660px;
        height: auto;
        flex-shrink: 0;
        position: relative;
        box-shadow: 5px 5px 14px #0000007c;
         }

      @media screen and (max-width: 375px) {
        img.img {
          width: 300px;
          height: auto;
          box-shadow: 2px 2px 7px #0000007c;
        }
      }

       /* 여권 이미지별 스타일 */
       img.passport1 {
        transform: rotate(-8.515deg);
        z-index: 3;
        left: 170px;
        top: -280px;
        animation-name: moveTo10;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
      }
      img.passport2 {
        transform: rotate(28.515deg);
        z-index: 2;
        left: 140px;
        top: -200px;
        animation-name: moveTo12;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
                    }

      img.passport3 {
        transform: rotate(-8.104deg);
        z-index: 1;
        right: -300px;
        top: -10px;
        animation-name: moveTo3;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
      }

      img.passport4 {
        transform: rotate(17.104deg);
        z-index: 5;
        left: 50px;
        bottom: 600px;
        animation-name: moveTo8;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
      }

      img.passport5 {
        transform: rotate(-30.104deg);
        z-index: 4;
        left: 200px;
        bottom: 700px;
        animation-name: moveTo5;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
      }

      /* 여권 이미지 active 작동 */
      img.passport1.active {
        animation-name: moveTo10;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
      }

      img.passport2.active {
        z-index: 2;
        animation-name: moveTo12;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
                    }

      img.passport3.active {
        z-index: 1;
        animation-name: moveTo3;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
      }

      img.passport4.active {
        z-index: 5;
        animation-name: moveTo8;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
      }

      img.passport5.active {
        z-index: 4;
        animation-name: moveTo5;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
      }
      

      /* 여권 애니메이션 */
        @keyframes moveTo10 {
        to {
          transform: translate(-100vw, -100vh);
          opacity: 0;
        }
      }

      @keyframes moveTo12 {
        to {
          transform: translateY(-100vh);
          opacity: 0;
        }
      }

      @keyframes moveTo3 {
        to {
          transform: translateX(100vw);
          opacity: 0;
        }
      }

      @keyframes moveTo8 {
        to {
          transform: translate(-100vw, 100vh);
          opacity: 0;
        }
      }

      @keyframes moveTo5 {
        to {
          transform: translate(100vw, 100vh);
          opacity: 0;
        }
      } 


/*
섹션2
*/

#fc-section2 h1.active{
  transform: scale(1);
  opacity: 1;
  }

  #fc-section2 p{
    width: 50%;
    margin: 0.5em auto;
    font-size: 1.65em;
transform: scale(0.8);
font-size: 40px;
margin: 0.7em auto;
width: auto;
position:relative;
transition: all 600ms ease;
opacity: 0;
}

  /* body.fp-viewing-secondPage #section2 p{
    transform: scale(1);
    opacity: 1;
    font-size: 40px;
    margin: 0.7em auto;
    width: auto;
    } */

    /* #section2 p{
      width: 50%;
      margin: 0.5em auto;
      font-size: 1.65em;
      }    */

#fc-section2.active .why-item i {animation: fadeUp 0.4s 0.2s both}
@keyframes fadeUp {
	0%{transform:translateY(80px); opacity: 0;}
	100%{transform:translateY(0); opacity: 1;}}

/* 
섹션3
*/
   
  /* 섹션3 버튼 디자인 */
  #fc-section3 .startBT {
    margin-top: 40px;
    width: 220px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #fff;
    background-color: transparent;
    color: white;
    font-family: 'Pretendard Variable';
    cursor: pointer;
    border-radius: 50px;
    transform: translate3d(0, 50px, 0);
    opacity: 0;
    transition: opacity 700ms ease, transform 700ms ease;   
     transition-delay: 200ms;
} 

#fc-section3 .startBT:hover
, .startBT:active  {
  background-color:#fff;
  color: #8C1DEF;
  font-weight: 600;
  font-family: 'Pretendard Variable';
}

