<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--  swiper Carousel -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <!-- 폰트 -->
    <links
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="KV_landing_section1"></div>
    <div id="KV_landing_section2"></div>
    <div id="KV_landing_section3"></div>
    <div id="KV_landing_section4"></div>
    <div id="KV_landing_section5"></div>
    <div id="KV_landing_section6"></div>
    <div id="KV_landing_section7"></div>
    <div id="KV_landing_section8"></div>

    <!-- 제이쿼리 cdn -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script>
      // 각 섹션 HTML 파일을 불러와서 삽입
      const loadComponent = async (componentId, url) => {
        const response = await fetch(url);
        const html = await response.text();
        document.getElementById(componentId).innerHTML = html;
      };
      loadComponent('KV_landing_section1', 'KV_landing_section1.html');
      loadComponent('KV_landing_section2', 'KV_landing_section2.html');
      loadComponent('KV_landing_section3', 'KV_landing_section3.html');
      loadComponent('KV_landing_section4', 'KV_landing_section4.html');
      loadComponent('KV_landing_section5', 'KV_landing_section5.html');
      loadComponent('KV_landing_section6', 'KV_landing_section6.html');
      loadComponent('KV_landing_section7', 'KV_landing_section7.html');
      loadComponent('KV_landing_section8', 'KV_landing_section8.html');
    </script>
  </body>
</html>
