<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 공통 css -->
    <link
      rel="stylesheet"
      href="../../static/css/KoreaVisa/KV_landing_global.css"
    />
    <link rel="stylesheet" href="../../static/css/KoreaVisa/ Reset.css" />
    <style>
      .kv-seventh-container {
        margin-top: 10%;
      }

      .kv-seventh-mobile-box {
        display: none;
      }

      @media screen and (max-width: 767px) {
        .kv-seventh-mobile-box {
          display: flex;
        }

        .kv-seventh-desktop-box {
          display: none;
        }
      }
    </style>
  </head>
  <body>
    <section class="kv-eighth-container">
      <h1 class="kv-title-blue">WELL-COME을 선택한 이유?</h1>
      <article class="kv-eighth-mobile-box">
        <img src="https://cdn.imweb.me/thumbnail/20241106/21d465269b4da.png" />
      </article>
      <article class="kv-eighth-desktop-box">
        <img
          src="https://cdn.imweb.me/thumbnail/20241106/56f6df93f28d2.png"
          alt=""
        />
      </article>
      <div class="kv-fifth-btn-box">
        <button
          class="kv-fourth-button-mobile"
          onclick="window.open('https://z17pcyw51c1.typeform.com/to/uTHb6raZ', '_blank');"
        >
          &nbsp;새로운 가능성을 발견하세요&nbsp;
        </button>
        <button
          class="kv-fourth-button"
          onclick="window.open('https://z17pcyw51c1.typeform.com/to/uTHb6raZ', '_blank');"
        >
          &nbsp;새로운 가능성을 발견하세요&nbsp;
        </button>
      </div>
    </section>
  </body>
</html>
