<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="kv-first-container">
      <div class="kv-slogan">
        한국에서 활동을 시작하는
        <br />
        <span class="sloganText1">First Step</span>
        <span class="sloganText2">Visa!</span>
      </div>
      <div
        class="kv-button"
        onclick="window.open('https://z17pcyw51c1.typeform.com/to/hWFwHwCH', '_blank');"
      >
        한국비자 신청하기
      </div>
    </div>

    <!-- Mobile Version -firstcontainer-->
    <div class="kv-first-container-mobile">
      <div class="kv-slogan-mobile">
        <div class="sloganText-mobile">한국에서 활동을 시작하는</div>
        <div class="sloganText2-mobile">
          <span class="sloganText1">First Step</span>
          <span>Visa!</span>
        </div>
      </div>
      <div
        class="kv-button-mobile"
        onclick="window.open('https://z17pcyw51c1.typeform.com/to/hWFwHwCH', '_blank')"
      >
        <div class="text">한국비자 신청하기</div>
      </div>
    </div>
  </body>
</html>
