<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/KoreaVisa/Test.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="newcorp-first-container">
      <div class="newcorp-slogan-short">해외에 계신 예비 대표님들</div>
      <div class="newcorp-slogan">
        <span class="sloganText">창업</span>
        을 준비하고 계시다면,
        <br />
        <span class="sloganText2">비자</span>
        는 준비하고 계신가요?
      </div>
      <div class="newcorp-slogan-main-button">
        <div
          class="text fade-in"
          id="mainText"
          onclick="window.location.href='https://well-come.info/startupVisa-funnal'"
        >
          D-8 비자 알아보기!
        </div>
      </div>
      <div
        class="newcorp-slogan-sub-button"
        onclick="window.location.href='https://well-come.info/startupVisa-funnal'"
      >
        <img src="https://cdn.imweb.me/thumbnail/20240819/d36c61fdedb8d.png" />
        <span>법인설립 알아보기 >></span>
      </div>
    </div>
    <!-- Mobile Version -firstcontainer-->
    <div class="newcorp-first-container-mobile">
      <div class="newcorp-slogan-short-mobile">해외에 계신 예비 대표님들</div>
      <div class="newcorp-slogan-mobile">
        <div class="sloganText-mobile">
          <span>창업</span>
          을
          <br />
          준비하고 계시다면,
        </div>
        <div class="sloganText2-mobile">
          <span>비자</span>
          는
          <br />
          준비하고 계신가요?
        </div>
      </div>
      <div
        class="newcorp-slogan-main-button-mobile"
        onclick="window.location.href='https://well-come.info/startupVisa-funnal'"
      >
        <div class="text">D-8 비자 알아보기!</div>
      </div>
      <div
        class="newcorp-slogan-sub-button-mobile"
        onclick="window.location.href='https://well-come.info/startupVisa-funnal'"
      >
        <img
          src="https://cdn.imweb.me/thumbnail/20240819/d36c61fdedb8d.png"
          alt="법인설립"
        />
        <span>법인설립 알아보기 >></span>
      </div>
    </div>

    <div class="newcorp-second-container">
      <div class="newcorp-second-title">비자도 웰컴이 도와줄게요</div>
      <div class="newcorp-second-subtitle">아래의 내용에 해당된다면?</div>
      <div class="newcorp-second-box">
        <div class="img_box">
          <img
            src="https://cdn.imweb.me/thumbnail/20240819/b3c7d96cdd6c8.png"
          />
        </div>
        <div class="newcorp-second-box-text">나도 대상자일 수 있어요</div>
        <div class="newcorp-secondBox-hashTagLine">
          <div class="newcorp-hashTag">#투자</div>
          <div class="newcorp-hashTag">#사업계획</div>
          <div class="newcorp-hashTag">#외국인창업</div>
          <div class="newcorp-hashTag">#특허보유자</div>
          <div class="newcorp-hashTag">#법인설립</div>
          <div class="newcorp-hashTag">#D-8-4</div>
          <div class="newcorp-hashTag">#한국거주</div>
          <div class="newcorp-hashTag">#오아시스</div>
        </div>
      </div>
      <div
        class="newcorp-second-button"
        onclick="window.location.href='https://well-come.info/startupVisa-funnal'"
      >
        자격 요건 확인해보기
      </div>
    </div>

    <div class="newcorp-third-container">
      <div class="newcorp-third-left">
        <div class="newcorp-third-title">
          창업비자 신청?
          <br />
          어렵지 않아요!
        </div>
        <div class="newcorp-third-score-box">
          <div
            class="newcorp-third-button"
            onclick="window.location.href='https://well-come.info/startupVisa-funnal'"
          >
            나의 비자 점수 조회해보기
          </div>
        </div>
      </div>
      <div class="newcorp-third-right">
        <div class="newcorp-step-content">
          <div class="newcorp-step-box">
            <div class="newcorp-step-number">1</div>
            <div class="newcorp-step-text">간편정보 입력</div>
            <img
              src="https://cdn.imweb.me/thumbnail/20240819/977cbc3a35a95.png"
              alt="icon"
              class="newcorp-step-icon"
            />
          </div>
          <div class="newcorp-step-box">
            <div class="newcorp-step-number">2</div>
            <div class="newcorp-step-text">채점하기</div>
            <img
              src="https://cdn.imweb.me/thumbnail/20240819/51135f9cdb962.png"
              alt="icon"
              class="newcorp-step-icon"
            />
          </div>
          <div class="newcorp-step-box">
            <div class="newcorp-step-number">3</div>
            <div class="newcorp-step-text">웰컴 컨설팅</div>
            <img
              src="https://cdn.imweb.me/thumbnail/20240819/87af4497cd2a6.png"
              alt="icon"
              class="newcorp-step-icon"
            />
          </div>
          <div class="newcorp-step-box">
            <div class="newcorp-step-number">4</div>
            <div class="newcorp-step-text">서류 제출</div>
            <img
              src="https://cdn.imweb.me/thumbnail/20240819/26956194d8616.png"
              alt="icon"
              class="newcorp-step-icon"
            />
          </div>
          <div class="newcorp-step-box">
            <div class="newcorp-step-number">5</div>
            <div class="newcorp-step-text">비자 받기</div>
            <img
              src="https://cdn.imweb.me/thumbnail/20240819/8ec73cb7f57d9.png"
              alt="icon"
              class="newcorp-step-icon"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- m third container-->
    <div class="newcorp-third-container-mobile">
      <div class="newcorp-third-title-mobile">
        창업비자 신청? 어렵지 않아요!
      </div>

      <!-- Steps Wrapper -->
      <div class="newcorp-step-wrapper-mobile">
        <!-- Step 1 -->
        <div class="newcorp-step-mobile">
          <div class="newcorp-step-number-mobile">1</div>
          <div class="newcorp-step-content-mobile">
            <span>간편정보 입력</span>
            <img
              src="https://cdn.imweb.me/thumbnail/20240819/977cbc3a35a95.png"
              alt="icon"
              class="newcorp-step-icon-mobile"
            />
          </div>
        </div>

        <!-- Step 2 -->
        <div class="newcorp-step-mobile">
          <div class="newcorp-step-number-mobile">2</div>
          <div class="newcorp-step-content-mobile">
            <span>채점하기</span>
            <img
              src="https://cdn.imweb.me/thumbnail/20240819/51135f9cdb962.png"
              alt="icon"
              class="newcorp-step-icon-mobile"
            />
          </div>
        </div>

        <!-- Step 3 -->
        <div class="newcorp-step-mobile">
          <div class="newcorp-step-number-mobile">3</div>
          <div class="newcorp-step-content-mobile">
            <span>웰컴 컨설팅</span>
            <img
              src="https://cdn.imweb.me/thumbnail/20240819/87af4497cd2a6.png"
              alt="icon"
              class="newcorp-step-icon-mobile"
            />
          </div>
        </div>

        <!-- Step 4 -->
        <div class="newcorp-step-mobile">
          <div class="newcorp-step-number-mobile">4</div>
          <div class="newcorp-step-content-mobile">
            <span>서류 제출</span>
            <img
              src="https://cdn.imweb.me/thumbnail/20240819/26956194d8616.png"
              alt="icon"
              class="newcorp-step-icon-mobile"
            />
          </div>
        </div>

        <!-- Step 5 -->
        <div class="newcorp-step-mobile">
          <div class="newcorp-step-number-mobile">5</div>
          <div class="newcorp-step-content-mobile">
            <span>비자 받기</span>
            <img
              src="https://cdn.imweb.me/thumbnail/20240819/8ec73cb7f57d9.png"
              alt="icon"
              class="newcorp-step-icon-mobile"
            />
          </div>
        </div>
      </div>

      <!-- Button -->
      <div
        class="newcorp-button-mobile"
        onclick="window.location.href='https://well-come.info/startupVisa-funnal'"
      >
        나의 비자 점수 조회해보기
      </div>
    </div>

    <!--fourth container-->
    <div class="newcorp-fourth-container">
      <div class="newcorp-fourth-header">
        <p>
          창업 비자,
          <br />
          전문가를 통해 설계 하세요.
        </p>
        <img
          src="https://cdn.imweb.me/thumbnail/20240820/dba2c9260bc29.png"
          alt="Header Image"
          class="newcorp-fourth-header-image"
        />
      </div>
      <div class="newcorp-fourth-grid">
        <div class="newcorp-fourth-row">
          <div class="newcorp-fourth-row-text">
            법인 설립부터 비자까지 모든
            <br />
            과정을 함께 진행해요
          </div>
          <div class="newcorp-fourth-box">
            <img
              src="https://cdn.imweb.me/thumbnail/20240820/8026ab9c651b7.png"
              alt="Icon 3"
              class="newcorp-fourth-box-image"
            />
            <p>투자 유치 설계</p>
          </div>
        </div>
        <div class="newcorp-fourth-row">
          <div class="newcorp-fourth-box">
            <img
              src="https://cdn.imweb.me/thumbnail/20240820/6643e95215a03.png"
              alt="Icon 2"
              class="newcorp-fourth-box-image"
            />
            <p>사업 계획서 자문</p>
          </div>
          <div class="newcorp-fourth-box">
            <img
              src="https://cdn.imweb.me/thumbnail/20240820/d2100848d201c.png"
              alt="Icon 1"
              class="newcorp-fourth-box-image"
            />
            <p>창업 교육 연계</p>
          </div>
        </div>
        <div class="newcorp-fourth-row">
          <div class="newcorp-fourth-box">
            <img
              src="https://cdn.imweb.me/thumbnail/20240820/1cd8aadc64385.png"
              alt="Icon 4"
              class="newcorp-fourth-box-image"
            />
            <p>지식재산권 출원</p>
          </div>
          <div class="newcorp-fourth-box">
            <img
              src="https://cdn.imweb.me/thumbnail/20240820/c9a250ab87c93.png"
              alt="Icon 5"
              class="newcorp-fourth-box-image"
            />
            <p>세무 서비스</p>
          </div>
        </div>
      </div>
      <div class="newcorp-fourth-footer">
        <button
          class="newcorp-fourth-button"
          onclick="window.location.href='https://well-come.info/startupVisa-funnal'"
        >
          지금 신청하러가기
        </button>
      </div>
    </div>

    <div class="newcorp-fifth-container">
      <div class="newcorp-fifth-contentBox">
        <div class="newcorp-fifth-title">웰컴 선택하는 이유...?</div>
        <div class="newcorp-fifth-contentCard">
          <div class="newcorp-fifth-cardSubtitle">
            <span>하나.</span>
            <span>경험이</span>
            많아요
          </div>
          <p style="margin-bottom: 10px">지금까지</p>
          <p>
            <span class="newcorp-fifth-cardKeyword-2">1,500+ 건</span>
            의 국내외 비자를 처리했어요
          </p>
        </div>
        <div class="newcorp-fifth-contentCard">
          <div class="newcorp-fifth-cardSubtitle">
            <span>둘.</span>
            <span>인증된 변호사</span>
            에게 바로 맡기세요
          </div>
          <p style="margin-top: 15px">
            내 법인등기 신청을 검증된 변호사에게 안심하고 맡길 수 있도록.
            <br />
            여러 문제점과 대처 방안, 필요한 서류도 미리 알려주니까.
          </p>
        </div>
        <div class="newcorp-fifth-contentCard">
          <div class="newcorp-fifth-cardSubtitle">
            <span>셋.</span>
            <span>다국적 언어</span>
            지원
          </div>
          <div class="newcorp-fifth-cardKeyword">한국어, 중국어, 영어</div>
          <p style="margin-bottom: 20px">
            유창하게 구사하는 직원들이 서비스를 지원합니다
          </p>
        </div>
      </div>
    </div>
    <div class="newcorp-sixth-container">
      <div class="newcorp-sixth-title">
        ALL
        <br />
        IN
        <br />
        ONE
      </div>
      <div class="newcorp-sixth-contentBox">
        <div class="newcorp-sixth-contentSubtitle">
          선택과 집중을 위한
          <br />
          스마트한 가이드
        </div>
        <p>
          법인설립부터 세무 연계, 법률자문, 비자까지
          <br />
          한번에 해결하는
          <span class="newcorp-sixth-hightlight">All in One</span>
          <br />
          <br />
          웰컴만의 전문적인 컨설팅으로 차별화된 고객 경험을 위해
          <br />
          노력하고 있습니다.
        </p>
        <div
          class="newcorp-sixth-button"
          onclick="window.location.href='https://well-come.info/startupVisa-funnal'"
        >
          법인설립 알아보기 >>
        </div>
      </div>
    </div>
    <!-- Mobile Version -sixthcontainer-->
    <div class="sixth-section-container-mobile">
      <div class="sixth-section-title-mobile">
        ALL
        <br />
        IN
        <br />
        ONE
      </div>
      <div class="sixth-section-content-box-mobile">
        <div class="sixth-section-subtitle-mobile">
          선택과 집중을 위한
          <br />
          스마트한 가이드
        </div>
        <p>
          법인 설립부터
          <br />
          세무 연계, 법률자문, 비자까지
          <br />
          한번에 해결하는
          <span class="sixth-section-highlight-mobile">All in One</span>
          <br />
          <br />
          웰컴만의 전문적인 컨설팅
          <br />
          으로 차별화된 고객 경험을
          <br />
          위해 노력하고 있습니다
        </p>

        <div
          class="sixth-section-button-mobile"
          onclick="window.location.href='https://well-come.info/startupVisa-funnal'"
        >
          법인설립 알아보기 >>
        </div>
      </div>
    </div>
  </body>
</html>
